In [5]:
import numpy as np
import pandas as pd

# This file should be run only once to initialize working excel table
# Please do not run it again

In [6]:
orig_inputs = np.load('initial_inputs.npy')

In [7]:
orig_outputs = np.load('initial_outputs.npy')

In [8]:
df = pd.DataFrame(orig_inputs, columns = ['x1','x2','x3'])

In [9]:
df['y'] = pd.DataFrame(orig_outputs, columns = ['y'])

In [1]:
#df.to_excel('data3.xlsx', index=False)

In [11]:
df2 = pd.read_excel('data3.xlsx')

In [12]:
df2

          x1        x2        x3         y
0   0.171525  0.343917  0.248737 -0.112122
1   0.242114  0.644074  0.272433 -0.087963
2   0.534906  0.398501  0.173389 -0.111415
3   0.492581  0.611593  0.340176 -0.034835
4   0.134622  0.219917  0.458206 -0.048008
5   0.345523  0.941360  0.269363 -0.110621
6   0.151837  0.439991  0.990882 -0.398926
7   0.645503  0.397143  0.919771 -0.113869
8   0.746912  0.284196  0.226300 -0.131461
9   0.170477  0.697032  0.149169 -0.094190
10  0.220549  0.297825  0.343555 -0.046947
11  0.666014  0.671985  0.246295 -0.105965
12  0.046809  0.231360  0.770618 -0.118048
13  0.600097  0.725136  0.066089 -0.036378
14  0.965995  0.861120  0.566829 -0.056758